/* Font families
font-family: 'Anton', sans-serif;
font-family: 'Space Mono', monospace; */

/* Remove margin and padding for easier styling */
* {
    margin: 0;
    padding: 0;
}

/* General page background for mobile screens*/

body {
    background-image: url(../images/portrait-background-small.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    min-height: 100vh;
}

/* Navigation styling */

.navigation {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 15% 20% 30% 20% 15%;
    border-bottom: 3px solid #000;
    background-color: rgba(116, 181, 255, 0.7);
}

/* Make grid start from second column */
#nav-button1 {
    grid-column-start: 2;
    margin-right: 0;
}

#nav-button2 {
    margin-left: 0;
}

.navigation > * {
    margin: auto;
}

.navigation a {
    text-decoration: none;
    color: inherit;
}

#logo {
    font-family: 'Anton', sans-serif;
    text-align: center;
}

main {
    text-align: center;
}

/* Game area styling */

#game-area {
    margin: 20px auto;
    width: 90vw;
    max-width: 80vh;
    height: 90vw;
    max-height: 80vh;
    display: inline-grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
    border: solid 5px #74B5FF;
    border-radius: 10px;
    background-color: rgba(000, 000, 000, 0.8);
}

#game-buttons {
    height: 10%;
    width: 90vw;
    max-width: 80vh;
    text-align: center;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 20%);
}

#game-buttons > button {
    font-size: 2rem;
    background: transparent;
    color: white;
}

.alien {
    background-image: url(../images/alien.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.spaceship {
    background-image: url(../images/spaceship.png)!important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.rocket {
    background-image: url(../images/bullet.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
}

.boom {
    background-image: url(../images/boom.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

/* Style for medium screen sizes */
@media only screen and (min-width: 1000px) {
    
    body {
        background-image: url(../images/portrait-background-large.png);
    }

}

/* Style for large screen sizes */
@media only screen and (min-width: 1200px) and (min-height: 900px) {
    
    body {
        background-image: url(../images/landscape-background.png);
    }

}