/* Font families
font-family: 'Anton', sans-serif;
font-family: 'Space Mono', monospace; */

/* Remove margin and padding for easier styling */
* {
    margin: 0;
    padding: 0;
}

/* Navigation styling */

.navigation {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 15% 20% 30% 20% 15%;
    border-bottom: 2px solid #000;
}

/* Make grid start from second column */
#nav-button1 {
    grid-column-start: 2;
    margin-right: 0;
}

#nav-button2 {
    margin-left: 0;
}

.navigation > * {
    margin: auto;
}

.navigation a {
    text-decoration: none;
    color: inherit;
}

#logo {
    font-family: 'Anton', sans-serif;
    text-align: center;
}

/* Game area styling */

#game-area {
    margin: 5% 2% 5% 2%;
    width: 96%;
    height: 60vh;
    display: inline-grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
    border: solid 1px black;
    border-radius: 10px;
    background-color: rgba(000, 000, 000, 0.7);
}

.alien {
    background-color: red;
}