/* Font families
font-family: 'Anton', sans-serif;
font-family: 'Space Mono', monospace; */

/* Remove margin and padding for easier styling */
* {
    margin: 0;
    padding: 0;
}

/* General page background for mobile screens*/

body {
    background-image: url(../images/portrait-background-small.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    min-height: 100vh;
    font-family: 'Space Mono', monospace;

    /* Disable double-tap zoom (mostly for iOS devices)
    Credits: https://dev.to/jasperreddin/disabling-viewport-zoom-on-ios-14-web-browsers-l13 */
    touch-action: pan-y;
}

/* Content wrapper so footer can always be on the bottom */
#content {
    padding-top: 100px;
    min-height: calc(100vh - 45px);
}

/* NAVIGATION STYLING */
#navigation {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    display: inline-grid;
    grid-template-columns: 2% 28% 40% 28% 2%;
    border-bottom: 3px solid rgba(89, 132, 163, 1);
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

#nav-button1 {
    width: 75%;
    height: 50%;
    text-align: center;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    grid-column-start: 2;
    position: relative;
}

#nav-button2 {
    width: 85%;
    height: 50%;
    text-align: center;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    position: relative;
}

#navigation > * {
    margin: auto;
}

#navigation a {
    width: 100%;
    height: 75%;
    display: inline-block;
    position: absolute;
    margin-top: -7%;
    padding-top: 7%;
    top: 25%;
    left: 0;
    vertical-align: middle;
    text-decoration: none;
    color: inherit;
    font-size: 0.7rem;
    letter-spacing: 3px;
}

#logo a {
    height: 100%;
    font-family: 'Anton', sans-serif;
    text-align: center;
    line-height: 120%;
    font-size: 1.8rem;
    letter-spacing: 4px;
    position: relative;
    padding: 5% 0 5% 0;
    top: 0;
    margin: 0;
}

/* Logo glowing effect. Credits: https://css-tricks.com/how-to-create-neon-text-with-css/ */
.logo-active {
    text-shadow:
        0 0 8px #000,
        0 0 12px #C82108, 
        0 0 20px #C82108,
        0 0 30px #C82108;
}

.nav-active {
    background: radial-gradient(#C82108 0%, transparent 80%)!important;

}

#nav-button1:hover, #nav-button2:hover {
    background: radial-gradient(#C82108 0%, transparent 50%);
}

/* HOME PAGE STYLING */
main {
    text-align: center;
}

#scoreboard {
    padding: 5px;
    overflow: visible;
    height: 25px;
    max-height: 25px;
}

.score-increase {
    animation-name: scoreincrease;
    animation-duration: 500ms;
}

@keyframes scoreincrease {
    0% {font-size: 100%; color: inherit;}
    50% {font-size: 150%; color: #C82108;}
    100% {font-size: 100%; color: inherit;}
}

/* Game area styling */
#game-area {
    margin: 10px auto;
    width: 90vw;
    max-width: 75vh;
    height: 90vw;
    max-height: 75vh;
    display: inline-grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
    border: solid 5px rgba(89, 132, 163, 1);
    border-radius: 10px;
    background-color: rgba(000, 000, 000, 0.8);
}

#start-game {
    width: 90vw;
    max-width: 80vh;
    text-align: center;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-row-start: 2;
}

#start-button {
    grid-column-start: 3;
    outline: none;
}

#game-buttons {
    width: 90vw;
    max-width: 80vh;
    text-align: center;
    margin: 20px auto 30px auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-row-start: 2;
    column-gap: 5%;
    overflow: visible;
    user-select: none;
}

#game-buttons button, #start-game button {
    font-size: 2rem;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    padding: 10px;
    margin: -10px;
    user-select: none;
}

#shoot-button:active {
    background: radial-gradient(closest-side, #C82108, transparent);
    background-repeat: no-repeat;
}

#left-button:active {
    background: radial-gradient(closest-side, #C82108, transparent);
    background-repeat: no-repeat;
}

#right-button:active {
    background: radial-gradient(closest-side, #C82108, transparent);
    background-repeat: no-repeat;
}

/* Footer styling */
.social-media {
    margin-top: -3px;
    height: 45px;
    padding-top: 5px;
    text-align: center;
    border-top: 3px solid rgba(89, 132, 163, 1);
    background-color: rgba(0, 0, 0, 0.8);
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 2.5rem;
    color: rgba(89, 132, 163, 1);
}

/* ABOUT PAGE STYLING */
#about-game, #how-to {
    width: 70%;
    height: auto;
    margin: 5% auto 5% auto;
    padding: 3%;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.8);
    border: 3px solid rgba(89, 132, 163, 1);
    border-radius: 10px;
}

#about-game h2, #how-to h2 {
    margin-bottom: 20px;
}

#about-game p, #how-to p {
    margin-bottom: 10px;
}

/* CONTACT PAGE STYLING */
#email-section, #social-section {
    width: 70%;
    height: auto;
    margin: 5% auto 5% auto;
    padding: 3%;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.8);
    border: 3px solid rgba(89, 132, 163, 1);
    border-radius: 10px;
}

#fname, #email {
    width: 70%;
}

#feedback {
    width: 100%;
}

/* Functional style rules for game */
.alien {
    background-image: url(../images/alien.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.spaceship {
    background-image: url(../images/spaceship.png)!important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.rocket {
    background-image: url(../images/bullet.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
}

.boom {
    background-image: url(../images/boom.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

/* Style for medium screen sizes */
@media only screen and (min-width: 1000px) {
    
    body {
        background-image: url(../images/portrait-background-large.png);
    }

    #nav-button1, #nav-button2 {
        width: 55%;
        max-width: 9vw;
        height: 60%;
    }

    #navigation {
        grid-template-columns: 15% 20% 30% 20% 15%;
    }

    #navigation a {
        font-size: 1rem;
    }

    #logo a {
        font-size: 2rem;
    }
}

/* Style for large screen sizes */
@media only screen and (min-width: 1200px) and (min-height: 900px) {
    
    body {
        background-image: url(../images/landscape-background.png);
    }

    #logo a {
        font-size: 2.2rem;
    }

}